.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content {
  height: 65%;
  display: flex;
  justify-content: center;
}

.badge {
  height: 53px;
  width: 163px;
}

.badge div {
  font-weight: 500;
}
