.container {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: absolute;
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.badge {
  width: 133px;
  height: 44px;
  margin-bottom: 32px;
}

.badge div {
  color: white;
  background-color: rgba(217, 217, 217, 0.19);
}

.heading {
  margin-bottom: 64px;
}
