.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container img {
  width: 65px;
  height: 65px;
}

.container span {
  font-size: 24px;
  color: #443b3b;
  font-weight: 600;
  letter-spacing: 1.5px;
}
