:root {
  --font-primary: 'Exo', sans-serif;
  --font-secondary: 'Inter', sans-serif;

  --background-primary: white;
  --background-secondary: #d9d9d9;

  --color-primary: #1c1b1b;
  --color-secondary: #111010;

  --gradient-primary: linear-gradient(
    90deg,
    #caea71 0%,
    #844071 50.5%,
    #404f84 100%
  );
}

html,
body {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  background-color: var(--background-primary);
  font-family: var(--font-primary);
  color: var(--color-primary);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

* {
  box-sizing: border-box;
}
